@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
  min-height: var(--min-height-body);
}

.container {
  margin: 0 auto;
  padding: 0 0 0;
  max-width: var(--max-content-width);
  width: var(--max-content-width);
}

.container {
  & .wrapperRightMainContent {
    float: right;
    width: var(--right-width);
    margin-bottom: 10px;
    margin-left: -1px;
    min-height: 300px;
    & .wrapperRightInside {
      margin-right: 1px;
      margin-left: 40px;
      margin-top: 20px;
    }
  }
}

.container .wrapperRightMainContentWithoutLeftMenu {
  width: var(--right-widthout-left-menu);
  margin: 0 auto;
}
